body{
    background-color:antiquewhite
}

.cuadro{
    display: grid;   
    margin: 0 auto;
    width: 30%;
    border: 3px solid black;
    padding: 5%;
    background-color: aliceblue;
    gap: .5rem;
    
}
.azul{
    width: 15%;
    height: 60%;
    background-color: rgb(70, 70, 187);
    color: white;
    min-height: 40px;
    min-width: 80px;
    border-radius: 10%;
}
h1{
    text-align: center;
}
input:hover{
    background-color: rgb(195, 195, 228);
}
.input{
    padding: 10px 10px 10px 10px;
    margin: auto 0;
    border-radius: 20%;
}
label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

